:root {
  --main-bg-color: #0FB0AB;
  --primary-color: #008080;
  --text-color: #404040;
  --font-regular: "Gilroy-Regular", sans-serif;
  --font-medium: "Gilroy-Medium", sans-serif;
  --font-bold: "Gilroy-Bold", sans-serif;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-family: var(--font-regular);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
}
.btn:hover{
 background-color: #fff;
 transition: all .3s ease;
 border: 1px solid var(--main-bg-color);
 color: var(--text-color);
}
/* content: '';
    position: absolute;
    top: -36px;
    right: 0px;
    background-color: #ffff;
    width: 50px;
    transform: rotate(-1deg);
    height: 37px;
    background: radial-gradient(circle at 0% 0px, #0FB0AB 35px, #ffff 36px);
} */

