@media(min-width: 1850px) {
  .dashboard_disk-parrent {
    margin-right: 120px;
}
.disk_wrapper {
  margin-left: 120px;
}
  .dashboard_wrapper {
    justify-content: center;
  }
  .dashboard_title {
    text-align: center;
  }
}
@media(max-width: 1850px) {
  .dashboard_chart {
    margin-bottom: 50px;
  }
}
@media (max-width: 1660px) {

  .stats_signature .stat-cards_block {
      margin-right: 15px;
  }
  .stats {
    justify-content: space-around;
  }
  .only-dashboard-signature {
    margin-bottom: 30px;
  }
  .dashboard_chart-stats li {
    margin-left: 0px;
  }
  .dashboard_chart-stats-second, .dashboard_chart-stats {
    padding-left: 20px;
  }
  .dashboard_chart-stats li:nth-child(3)::after {
    width: 190%;
  }
  .dashboard_disk-parrent, .dashboard_file-parrent {
    width: 49%;
  }
  .dashboard_disk {
    padding: 10px 15px;
  }
  .dashboard_wrapper li {
    font-size: 13px;
  }
  .donut svg, .donut-chart {
    width: 80px;
    height: 80px;
  }
  .dashboard_disk-title, .dashboard_file-title {
    font-family: var(--font-medium);
    font-size: 18px;
  }
  .dashboard_disk-stats li:nth-child(2) {
    width: 125%;
    margin-right: 0px;
  }
}
@media(max-width: 1450px) {
  .dashboard_chart {
    margin-bottom: 0px;
  }
  .dashboard_file-parrent{
    margin-top: 50px;
  }
  .dashboard_disk-parrent{
    margin-top: 50px;
    width: 50%;
  }
  .dashboard_wrapper, .stats {
   justify-content: space-around;
  }
  .stat-cards {
    margin-top: 50px;
  }
 .dashboard_title {
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
 }
 .dashboard_folders-signature, .dashboard_name-signature {
  margin-left: 40px;
}
}
@media(max-width: 1200px) {
  .stats_signature .stat-cards_block {
    margin-top: 20px;
}
.dashboard_chart-stats, .dashboard_disk-stats li, .dashboard_file-stats li {
  margin-right: 0px;
}
.dashboard_chart-stats li {
  margin-left: 20px;
}
.stats {
  margin-top: 60px;
}
.trial_wrapper {
 width: 60%;
 min-width: 495px;
}
.trial_text {
  font-size: 13px;
}
}
@media(max-width: 990px) {
  body, html { overflow-x:hidden; }
  .only-dashboard {
    margin-bottom: 30px;
  }
  .header {
    display: block;
  }
  .nav {
    display: none;
  }
  .main {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }
  .hamburgers {
    display: block !important;
  }
  .mobile_logo img{
    width: 160px;
  }
}
@media(max-width: 768px) {
  .dashboard_chart {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dashboard_chart-stats, .dashboard_chart-stats li {
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 0px;
  }
  .dashboard_disk-stats li svg, .dashboard_file-stats li svg {
   margin-right: 3px;
  }
  .user_block-wrapper {
    justify-content: center;
  }
  .main {
    width: auto;
  }
  .dashboard_file-stats  li svg{
    margin-right: 6px;
  }
  .dashboard_file-stats  li:nth-child(2) svg{
    margin-right: 2px;
  }
  .donut-center, .donut-center-signature {
   font-size: 2rem;
  }
}
@media(max-width: 568px) {
  .account-types {
    margin-bottom: 30px;
  }
  .main {
    margin-right: 20px;
    margin-left: 20px;
  }
  .stat-cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .stat-cards_block {
    margin-top: 50px;
  }
  .stat-cards_block:not(:last-child) {
    margin-right: 10px;
    margin-left: 10px;
  }
.dashboard_file {
  padding: 15px 15px;
}
.dashboard_disk, .dashboard_file {
  margin-left: 10px;
}
.dashboard_chart-stats-second {
  padding-left: 20px;
}
.dashboard_chart-stats li:nth-child(3):after {
  width: 190%;
}
.trial_wrapper {
  width: 70%;
  min-width: 220px;
}
.disk_wrapper {
  width: 100%;
}
.dashboard_disk, .dashboard_file {
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  width: 75%;
  min-width: 125px;
  max-width: 160px;
  height: auto;
  flex: .5 0 auto;
}
.dashboard_file {
  margin-left: 35px;
}
.dashboard_disk-title, .dashboard_file-title {
  text-align: center;
}
.donut-chart , .donut {
  margin-top: 5px;
}
.dashboard_wrapper li {
  font-size: 12px;
}
.dashboard_disk-stats li:nth-child(2) {
  width: auto;
}
.dashboard_disk-parrent ,.dashboard_file-parrent {
  margin-left: 0px;
}
.stats_signature .stat-cards_block:last-child {
  margin-left: 10px;
}
}

@media(max-width: 468px) {
  .dashboard_chart-stats-second {
    padding-left: 10px;
  }
  .dashboard_chart-stats li:nth-child(3):after {
    display: none;
  }
  .dashboard_folders-signature, .dashboard_name-signature {
    margin-left: 0px;
  }

  .hamburger {
    top: -40px;
  }

 .user_block-wrapper {
   margin-top: 35px;
 }
 .account-types_charts p, .disk-usage_column li {
   font-size: 12px;
 }
 .dashboard_folders-title, .dashboard_name-title {
   font-size: 15px;
 }
 .dashboard_folders, .dashboard_name {
   margin-top: 25px;
 }
 .dashboard_disk-parrent, .dashboard_file-parrent {
   margin-top: 35px;
 }
 .dashboard_folders {
   margin-left: 15px;
 }
}
@media (max-width: 380px) {
  .disk_wrapper {
    align-items: center;
    justify-content: center;
  }
  .dashboard_file {
    margin-left: 0px;
  }
  .trial_wrapper {
    min-width: 140px;
  }
  .user_block-wrapper .user_block-allarm svg {
    margin-right: 15px;
  }
  .user_block-wrapper .user-name {
    margin-right: 10px;
    margin-left: 15px;
    margin-top: -5px;
  }
  .mobile_logo img {
    width: 135px;
  }
  button.hamburger {
    width: 40px;
  }
  .dashboard_chart {
    padding-right: 40px;
    padding-left: 40px;
  }
  .dashboard_chart-img img {
    width: 100px;
    height: auto;
  }
  .dashboard_chart-text {
    font-size: 12px;
    text-align: center;
  }
  .dashboard_chart-stats-second {
  margin-right: -30px;
  }
  .dashboard_chart-stats {
    width: 170%;
    margin-left: -40px;
  }
  .dashboard_disk-stats li, .dashboard_file-stats li {
    margin-right: 0px;
  }
  .dashboard_disk, .dashboard_file {
    flex-direction: column;
    justify-content: center;
  }
  .dashboard_disk-stats, .dashboard_file-stats {
    margin-bottom: 10px;
  }
  .dashboard_disk-parrent, .dashboard_file-parrent {
    width: 100%;
  }
  .stats {
    justify-content: center;
  }
  .charts-container .bar-chart-horizontal .bar-chart--track {
    width: auto;
  }
  .account-types_title, .disk-usage_title {
    text-align: center;
  }
  .user_block-allarm svg{
    width: 18px !important;
    height: 20px !important;
  }
  .stat-cards_block:not(:last-child) {
    margin-left: 0px;
  }
  .dashboard_folders-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 50px;
  }
  .dashboard_folders-icon p, .dashboard_name-icon p {
    text-align: center;
  }
  .dashboard_folders {
    display: none;
    margin-left: 0px;
  }
  .mobile_folders {
    display: flex;
  }
  .dashboard_folders.mobile_folders {
    margin-right: 50px;
}
.dashboard_folders-icon p, .dashboard_name-icon p {
  font-size: 12px;
}
.dashboard_name-signature .dashboard_name-icon {
  margin-top: 12px;
}
}
@media (max-width: 280px) {
  .dashboard_folders.mobile_folders {
    margin-right: 20px;
  }
}


@media(min-height:750px) {
  .nav, .nav_mobile-menu {
    min-height: 680px;
  }
}
@media(max-height:750px) {
  .screen-logo img,
  .mobile_logo img{
    width: 120px;
  }
  .nav {
    min-height: 655px;
  }
}
@media(max-height: 655px) {
  .nav li:not(:last-child){
    margin-bottom: 20px;
}

.nav_mobile-menu li:not(:last-child) {
  margin-bottom: 5px;
}
.nav_li-active {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav_li-active::before {
  top: 33px;
}
.nav,
.nav_mobile-menu {
  min-height: 550px;
}
}

@media(max-height: 550px) {
  .screen-logo img,
  .mobile_logo img{
    display: none;
  }
  .nav,
  .nav_mobile-menu {
    min-height: 470px;
    height: 90vh;
}
.nav_mobile-menu li:first-child{
  margin-top: 15px;
}
.nav_mobile-menu li:not(:last-child) {
  margin-bottom: 0px;
}
@media(max-height: 470px){
  .nav {
    display: none;
  }
  .hamburgers {
    display: block !important;
  }
  .main {
    margin-left: 10px;
  }
  .dashboard_title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .mobile-li {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
@media(max-height: 470px) and (max-width: 1450px) {
  .dashboard_disk-parrent {
    margin-top: 50px;
  }
}
