*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

body, ul {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", Arial, Times New Roman; }

a {
  text-decoration: none; }

button, a {
  outline: none;
  cursor: pointer;
  color: #ffffff; }

ul li {
  list-style: none; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

button {
  border: none; }

input, textarea {
  outline: none;
  border: none; }

textarea {
  resize: none; }

input, textarea:not(output):-moz-ui-invalid {
  box-shadow: 0 0 0 0; }

.btn {
  padding: 20px 40px;
  -webkit-box-shadow: 0px 3px 0 rgba(32, 125, 152, 0.6);
          box-shadow: 0px 3px 0 rgba(32, 125, 152, 0.6);
  color: #fff;
  border-radius: 10px;
  background-color: #38b2d6;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase; }

body {
  font-family: "Roboto", Arial, Times New Roman; }

.header {
  background: url(../img/header/header-bg.png) no-repeat;
  background-position: 70%;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8); }
  .header__wrapper {
    text-align: center;
    height: 100vh;
    min-height: 500px; }

.logo__img {
  margin-top: 20px; }

.logo__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 15px; }

.homepage {
  color: #fff; }
  .homepage__title {
    margin-top: 65px;
    color: #f9bf3b;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase; }
  .homepage__subtitle {
    color: #ffffff;
    position: relative;
    font-size: 60px; }
    .homepage__subtitle:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 110%;
      background-color: #fff;
      padding-left: 30%;
      height: 3%; }
    .homepage__subtitle:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 110%;
      background-color: #fff;
      padding-right: 30%;
      height: 3%; }
  .homepage__descr {
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 30px; }
  .homepage__descr span {
    color: #f9bf3b;
    font-weight: 700; }
  .homepage__btn {
    margin-top: 30px; }
  .homepage__bottom-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; }

.homepage__arrow-wrapper {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.arrow {
  position: absolute;
  -webkit-animation: arrow 1s linear 0s infinite alternate;
          animation: arrow 1s linear 0s infinite alternate;
  cursor: pointer;
  top: 80%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg); }
  .arrow__two {
    border-width: 3px;
    top: 115%; }

@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateX(-50%) translateY(0%) rotate(-45deg);
            transform: translateX(-50%) translateY(0%) rotate(-45deg); }
  to {
    -webkit-transform: translateX(-50%) translateY(35%) rotate(-45deg);
            transform: translateX(-50%) translateY(35%) rotate(-45deg); } }

@keyframes arrow {
  from {
    -webkit-transform: translateX(-50%) translateY(0%) rotate(-45deg);
            transform: translateX(-50%) translateY(0%) rotate(-45deg); }
  to {
    -webkit-transform: translateX(-50%) translateY(35%) rotate(-45deg);
            transform: translateX(-50%) translateY(35%) rotate(-45deg); } }

.advantages {
  background-color: #efefef;
  color: #4a4a4a;
  text-align: center;
  padding-bottom: 70px; }
  .advantages__title {
    position: relative;
    padding-top: 80px;
    font-size: 30px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase; }
    .advantages__title:before {
      content: '';
      position: absolute;
      top: 130%;
      left: 50%;
      width: 23%;
      height: 4px;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      background-color: #f9bf3b; }
  .advantages__subtitle {
    margin-top: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px; }
  .advantages__item {
    margin-top: 50px; }
  .advantages__descr {
    margin-top: 30px; }

.optimization {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(../img/optimization/optimization-bg.png) no-repeat; }
  .optimization__title {
    color: #299cbd;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase; }
  .optimization__descr {
    z-index: 10;
    margin-left: 250px; }
    .optimization__descr p:last-child {
      font-weight: bold; }
  .optimization__text {
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400; }
    .optimization__text p:not(:last-child) {
      margin-bottom: 10px; }

.education {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(../img/education/education-bg.png) no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
  width: 100%; }
  .education:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .education__title {
    color: #efefef;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
    .education__title:before {
      content: '';
      position: absolute;
      top: 135%;
      left: 50%;
      width: 23%;
      height: 4px;
      -webkit-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
      background-color: #f9bf3b; }
  .education__item {
    text-align: center;
    margin-top: 70px; }
    .education__item_img {
      position: relative;
      margin-bottom: 20px; }
    .education__item_descr {
      color: #efefef;
      font-size: 17px;
      font-weight: 300;
      line-height: 20px; }
  .education .col:last-child .education__item:before {
    content: '';
    display: none; }
  .education__stick {
    position: absolute;
    left: 65%;
    top: -10%;
    width: 100%;
    height: 100%;
    background: url(../img/education/education-arrow.svg) no-repeat; }

.bonus {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #efefef; }
  .bonus__descr {
    margin-top: 40px;
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center; }
  .bonus__btn {
    margin-top: 40px; }

.time {
  padding-top: 80px;
  padding-bottom: 80px; }
  .time__img img {
    width: 220px;
    height: 130px; }
  .time__title {
    padding-top: 35px;
    color: #252525;
    font-size: 21px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase; }
  .time p {
    padding-top: 23px;
    color: #299cbd;
    font-size: 25px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase; }
  .time small {
    padding-top: 20px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; }

.footer {
  background-color: #1a1a1a;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer__spec-symbol {
    display: inline; }
  .footer__descr, .footer a {
    color: #888888;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px; }
  .footer a {
    text-decoration: underline; }

.policy {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #4f4f56; }
  .policy h2 {
    text-align: center;
    padding-bottom: 30px;
    color: #d1d3d6; }
  .policy ol {
    margin-left: 20px; }
  .policy h4 {
    color: #b8b8bc; }
  .policy li {
    color: #9c9fa3;
    line-height: 21px; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7); }

.popup {
  position: fixed;
  top: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 15px;
  width: 540px;
  max-width: 80%;
  padding-bottom: 40px;
  background-color: #FBEAFF; }
  .popup__title {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 20px;
    background-color: #218cac;
    text-align: center;
    border-radius: 15px 15px 0px 0px; }
  .popup__close {
    position: absolute;
    right: -5px;
    top: -30px;
    font-size: 35px;
    color: #fff;
    font-weight: 300;
    cursor: pointer; }

.form input {
  background-color: #d1d3d6;
  font-size: 15px;
  font-weight: 400;
  width: 45%;
  margin-top: 35px;
  border-radius: 100px;
  padding-top: 13px;
  padding-left: 20px;
  padding-bottom: 13px;
  border: 1px solid transparent; }
  .form input:focus {
    border: 1px solid green;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .form input:first-child {
    margin-right: 10px; }

.popup__btn {
  width: 180px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: #38b2d6;
  font-size: 14px;
  font-weight: 400; }

.popup small {
  margin-top: 10px;
  font-size: 10px;
  text-align: center; }

@media (max-width: 1200px) {
  .homepage__title {
    font-size: 26px; }
  .homepage__subtitle {
    font-size: 43px; }
  .homepage__descr {
    font-size: 18px; }
  .homepage__btn {
    margin-top: 30px; }
  .advantages__img img {
    width: 190px;
    height: 120px; }
  .education {
    margin-top: 50px; }
    .education .row:nth-child(2) {
      margin-top: 50px; }
    .education__item {
      margin-top: 20px; }
    .education__stick {
      display: none; }
  .optimization {
    position: relative; }
    .optimization:before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.7); }
    .optimization__descr {
      margin-left: 0px;
      text-align: center; }
    .optimization__text {
      color: #fff;
      font-size: 15px; } }

@media (max-width: 768px) {
  .header__wrapper {
    height: 100%; }
  .homepage {
    padding-bottom: 70px; }
  .homepage__arrow-wrapper, .homepage__subtitle::before, .homepage__subtitle::after {
    display: none; }
  .homepage__title {
    font-size: 29px; }
  .homepage__subtitle {
    font-size: 45px; }
  .homepage__descr {
    font-size: 16px; }
  .btn {
    padding: 20px;
    font-size: 12px; }
  .advantages__title {
    font-size: 25px; }
  .advantages__subtitle {
    font-size: 16px; }
  .optimization__text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300; }
  .optimization__title {
    font-size: 24px; } }

@media (max-width: 576px) {
  .homepage__title {
    font-size: 22px; }
  .homepage__subtitle {
    font-size: 40px; }
  .advantages__title {
    line-height: 30px; }
    .advantages__title:before {
      top: 110%; }
  .time {
    text-align: center; }
    .time__title {
      font-size: 19px; }
    .time p {
      font-size: 21px;
      line-height: 23px; }
    .time small {
      padding-top: 10px; }
  .footer__descr a:nth-child(2) {
    display: block; }
  .footer__spec-symbol {
    display: none; } }

@media (max-height: 600px) {
  .homepage__arrow-wrapper {
    display: none; }
  .homepage {
    padding-bottom: 70px; }
  .header__wrapper {
    height: 100%; } }
