 @media (max-width: 990px) {
  .or:before, .or:after {
    display: none;
  }
  .login_block-wrapper {
    width: 45%;
    min-width: 290px;
    margin-top: 50px;
  }
} 
@media (max-width: 768px) {
  .login_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
  }
  .login_block-title {
    font-size: 20px;
  }
  .sign-google {
    width: 50%;
    min-width: 160px;
    font-size: 12px;
  }
}

@media (max-width: 568px) {
  .login_block-logo {
    padding: 0px;
    padding-left: 15px;
  }
  .login_create-account {
    padding-bottom: 20px;
  }
  .login_block-logo {
    display: flex;
    justify-content: center;
  }
  .login_block-logo img{
      width: 190px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .sign-google { 
    min-width: 160px;
  }
}
@media (max-width: 368px) {
  form.login_form{
    min-width: 185px;
  }
  .login_block-title {
    font-size: 17px;
  }
  .login_block-wrapper {
    padding: 20px;
    min-width: 300px;
    padding: 3px;
    margin-bottom: 30px;
  }
  .login_block-title {
    font-size: 20px;
  }
  .login_block {
    margin-top: 40px;
  }
}
@media(max-width: 320px) {
  .login_block-wrapper {
    min-width: 230px;
    width: 90%;
  }
}

@media(max-height: 800px) {
  .login_block-wrapper {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .login_block-title {
    padding-top: 0px;
  }
  .login_block-title {
    margin-bottom: 20px;
  }
  .or {
    margin-top: 25px;
  }
  .login_form {
    margin-top: 25px;
  }
  .login_create-account {
    margin-top: 25px;
  } 
  .login_block-wrapper {
    height: 60vh;
    min-height: 500px;
  }
}
@media (max-height: 660px) {
  .or {
    display: none;
  }
  .login_block-wrapper {
    height: 55vh;
    min-height: 420px;
  }
  .login_forgot-password {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .login_wrapper {
    min-height: 700px;
  }
}