.container
	max-width: 1150px
	margin: 0px auto
.btn-sm
	color: #202020
	font-family: "Proxima Nova Bol", sans-serif
	background-color: #ffdc38
	font-size: 14px
	border-radius: 50px
	padding: 15px 25px