@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bol';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bla';
  src: url("../fonts/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Black.woff") format("woff");
  src: url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.container {
  max-width: 1150px;
  margin: 0px auto; }

.btn-sm {
  color: #202020;
  font-family: "Proxima Nova Bol", sans-serif;
  background-color: #ffdc38;
  font-size: 14px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 15px 25px; }

.header {
  width: 100%;
  height: 100vh;
  min-height: 480px;
  position: relative;
  background-image: url(../img/header/header-bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #ffffff;
  font-family: "Proxima Nova Lt", sans-serif; }
  .header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left top, right top, from(rgba(26, 126, 188, 0.9)), color-stop(50%, rgba(70, 96, 192, 0.9)), to(rgba(116, 68, 191, 0.9)));
    background: -webkit-linear-gradient(left, rgba(26, 126, 188, 0.9) 0%, rgba(70, 96, 192, 0.9) 50%, rgba(116, 68, 191, 0.9) 100%);
    background: -o-linear-gradient(left, rgba(26, 126, 188, 0.9) 0%, rgba(70, 96, 192, 0.9) 50%, rgba(116, 68, 191, 0.9) 100%);
    background: linear-gradient(90deg, rgba(26, 126, 188, 0.9) 0%, rgba(70, 96, 192, 0.9) 50%, rgba(116, 68, 191, 0.9) 100%);
    z-index: -1; }

.nav, .nav__first-block, .nav__second-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  padding-top: 60px; }

.nav__logo {
  border-right: 1px solid white;
  padding-right: 30px;
  height: 65px; }

.nav__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 30px; }

.nav__number {
  margin-right: 30px; }

.nav__number p:nth-child(1) {
  text-align: right;
  margin-bottom: 5px; }

.nav__number p:nth-child(2) {
  font-size: 19px;
  font-family: "Proxima Nova Bol", sans-serif; }
